<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HoI4_Modding_Supporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HoI4_Modding_Supporter.Properties.Settings>
            <setting name="hoi4dir" serializeAs="String">
                <value />
            </setting>
            <setting name="moddir" serializeAs="String">
                <value />
            </setting>
            <setting name="afterOpenFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="neutralityDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="democraticDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fascismDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="communismDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customIdeologiesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </HoI4_Modding_Supporter.Properties.Settings>
    </userSettings>
</configuration>